<section class="projects-section">
  <h2>Mes Projets</h2>
  <div class="project-item " *ngFor="let project of projects" [id]="project.fragment">
    <h3>{{ project.title }}</h3>
    <p><strong>Objectif:</strong> {{ project.objective }}</p>
    <p><strong>Réalisation:</strong> {{ project.realisation }}</p>
    <p class="description">{{ project.description }}</p>
    <div class="functions">
      <h4>Fonctions :</h4>
      <ul>
        <li *ngFor="let func of project.functions">{{ func }}</li>
      </ul>
    </div>
    <div class="cta">
      <a [href]="project.githubUrl" target="_blank">Accéder au code sur Github</a>
    </div>
  </div>  
</section>
